.main {
  background-image: url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?cs=srgb&dl=top-view-photo-of-people-near-wooden-table-3183150.jpg&fm=jpg);
  background-position: center;
  background-size:cover;
  opacity: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 100px;
  margin: 20px;
}

.copy-container h1 {
  font-size: 60px;
  font-style: solid;
  padding-left: 400px;
  height: 80px;
  background-color: #F5F2E0;
  font-family: "Lucida Grande";
}

.copy-container h2{
  font-size: 40px;
  padding-left: 300px;
  padding-bottom: 5px;
  height: 45px;
  background-color: #F1D19E;
  font-family: "Helvetica Neue";
}

.copy-container h3{
  font-size: 24px;
  color: #FBFAF9;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-family: "Garamond";
}

.copy-container span{
  color: #080808;
  font-size: 27px;
  background-color: #F7F1F1;
}
